body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ffffff, #d9d9ff, #ffffff);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.center-container {
    text-align: center;
}

.title {
    font-size: 3rem;
    color: #333;
    margin-bottom: 30px;
}

#enter-btn {
    padding: 15px 30px;
    background: #6a5acd;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.25s;
}

#enter-btn:hover {
    transform: scale(1.05);
    background: #5948c9;
}
